/* React Filepicker Example CSS */

h2, h3 {
    color: #000
}

h2 a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #F7F7F7;
}

div.example {
    margin-bottom: 80px;
    margin-left: 20px;
}

div.intro {
    margin-bottom: 80px;
    width: 700px;
    margin-left: 20px;
    color: #000;
}